<h1>Create a new album here:</h1>

<form action="/album" method="post">
  <label for="albumName">Album Name</label>
  <input id="albumName" name="albumName" type="text">
  <br>
  <br>
  <label for="artist">Artist</label>
  <input id="artist" name="artist" type="text">
  <br>
  <br>
  <label for="linerNotes">Liner Notes</label>
  <input id="linerNotes" name="linerNotes" type="textarea">
  <br>
  <br>
  <button type="submit">Add Album to List</button>
</form>

<a href="album">Home</a>
